.header {
    overflow: hidden;
    background-color: white;
    position:fixed; 
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%; 
}


.header a {
    float: left;
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:inline; 
    margin-right:15px; 
    text-transform:uppercase;
}

.content{
    display:block;
    width:960px;
    min-height:900px;
    margin-left:auto;
    margin-right:auto;
    top:105px; 
    background-color:white;
    position:relative;
}

.spasi{
    margin-top: 30px;
}

.footer {
    position:fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: yellow;
    text-align: center;
}



.baris:after {
  content: "";
  display: table;
  clear: both;
}


@media (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.kolom {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}


@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


.kartu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.contentidea{
    display:block;
    width:960px;
    min-height:900px;
    margin-left:450px;
    margin-right:auto;
    top:105px; 
    background-color:white;
    position:relative;
}

.contentindex{
    display:block;
    width:960px;
    min-height:900px;
    margin-left:200px;
    margin-right:auto;
    top:50px; 
    background-color:white;
    position:relative;
}




